.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    font-size: 1rem;
    gap: 4px;
}

.pagination .page-num{
    padding: 8px 8px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
}

.pagination .page-num:hover{
    color: theme('colors.primary');
}

.pagination .active{
    color: theme('colors.primary');
}

.pagination .prev{
    display: none;
}

.pagination .next{
    display: none;
}

.card:hover{
    z-index: 11;
    background-color: white;
}

.card:hover .image{
    transform: scale(1.05);
    border: none;
}

.card .btn{
    display: none;
}

.card:hover .btn{
    display: block;
}

.card:hover .btn{
    margin-left: 0.5rem;
}

.card:hover .wishlist{
    display: block;
}

.card:hover .addCart{
    width: 95%;
    position: absolute;
    display: block;
    transform: scale(1.05);
}

.cartMarche:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 0 4px;
}

.cartMarche:hover .imageMarche{
    border: none;
}